    /* @font-face {
        font-family: 'Gilam';
        src: url(../fonts/Gilam-BlackDEMO.woff2);
    } */
    @font-face {
        font-family: 'Circe';
        src: url(../fonts/Circe-Regular.woff2);
    }
    body {
        background-color: #171717;
        max-width: 1920px;
        width: 100%;
    }
    h3, p {
        color: #fff;
        margin: 0;
    }
    .g-section {
        margin: auto 230px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 120px;
    }
    .header-content {
        display: flex;
        align-items: center;
    }
    .number {
        margin-right: 20px;
        font-family: 'Circe';
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
    }
    .colored {
        color: #E4B564;
    }
    .button {
        text-decoration: none;
        color: #E4B564;
        border: 1px solid #E4B564;
        box-sizing: border-box;
        padding: 10px 25px;
        margin-left: 20px;
        font-family: 'Circe';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
    }
    .call {}

    .main-container {}
    .section-networks .content-title {
        font-family: 'Gilam';
        font-weight: 700;
        font-size: 50px;
        line-height: 28px;
        margin-bottom: 40px;

    }
    .section-networks .content-desc {
        font-family: 'Gilam';
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    .section-networks {}
    .section-networks .content-work {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 468px);
        gap: 30px;
        margin-bottom: 160px;
    }
    .section-networks .text {

    }
    .section-networks .image-item {
        display: grid;
        align-content: center;
        justify-content: center;
        font-family: 'Gilam';
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        padding-left: 44px;
        padding-right: 44px;
        text-align: center;
    }
    .section-networks .image-item1 {
        background-color: #634F2C;
        grid-column: 1 / 3;
        grid-row: 1 / 2;    
    }
    .section-networks .image-item2 {
        background-color: #B4A385;
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }
    .section-networks .image-item3 {
        background-color: #E4B564;
        grid-column: 5 / 7;
        grid-row: 1 / 2;
    }
    .section-networks .image-item4 {
        background-color: #635A4A;
        grid-column: 1 / 4;
        grid-row:  2/ 3;
    }
    .section-networks .image-item5 {
        background-color: #B08C4D;
        grid-column: 4 / 7;
        grid-row:  2/ 3;
    }
    .section-technics {}
    .section-technics .content-title {
        font-family: 'Gilam';
        font-weight: 700;
        font-size: 50px;
        line-height: 28px;
        margin-bottom: 94px;
    }
    .section-technics .content-technic {
        display: flex;
        margin-bottom: 190px;
    }
    .section-technics .content-technic .left-technic{
        display: flex;
        flex-direction: column;
        min-width: 467px;
        width: 100%;
    }
    .section-technics .content-technic .center-technic{
        display: flex;
        flex-direction: column;
        min-width: 467px;
        width: 100%;
    }
    .section-technics .content-technic .right-technic{
        display: flex;
        flex-direction: column;
        min-width: 467px;
        width: 100%;
    }
    .section-technics .content-technic .image-item {
        font-family: 'Gilam';
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
    }
    .section-technics .content-technic .image-item span {
        font-family: 'Gilam';
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;   
    }
    .section-technics .content-technic .image-item1 {
        background-color: #0E0E0E;
        margin-right: 15px;
        margin-bottom: 24px;
        height: 313px;
        padding-top: 44px;
        padding-left: 52px;
        padding-right: 112px;
    }
    .section-technics .content-technic .image-item4 {
        background-color: #1F1F1F;
        margin-right: 15px;
        height: 560px;
        padding-top: 56px;
        padding-left: 52px;
        padding-right: 112px;
    }    
    .section-technics .content-technic .image-item2 {
        background-color: #242424;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        height: 439px;
        padding-top: 44px;
        padding-left: 52px;
        padding-right: 112px;
    }
    .section-technics .content-technic .image-item5 {
        background-color: #E4B564;
        margin-left: 15px;
        margin-right: 15px;
        height: 405px;
        padding-top: 46px;
        padding-left: 52px;
        padding-right: 112px;
    }
    .content-technic .image-item5 .colored {
        color: #0A0909;
    }

    .section-technics .content-technic .image-item3 {
        background-color: #1F1F1F;
        margin-left: 15px;
        margin-bottom: 26px;
        height: 255px;
        padding-top: 44px;
        padding-left: 48px;
        padding-right: 116px;
    }
    .section-technics .content-technic .image-item6 {
        background-color: #0E0E0E;
        margin-left: 15px;
        margin-bottom: 26px;
        height: 313px;
        padding-top: 44px;
        padding-left: 48px;
        padding-right: 116px;
    }
    .section-technics .content-technic .image-item7 {
        background-color: #0A0909;
        margin-left: 15px;
        height: 277px;
        padding-top: 44px;
        padding-left: 48px;
        padding-right: 116px;
    }

    .section-projects {
        background-color: #0E0E0E;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-bottom: 238px;
    }
    .section-projects .header-projects {
        display: flex;
        justify-content: space-between;
        margin-left: 230px;
        margin-right: 230px;

    }
    .section-projects .header-projects .content-title {
        font-family: 'Gilam';
        font-weight: 700;
        font-size: 50px;
        line-height: 28px;
        margin-top: 172px;
        margin-bottom: 72px;
    }
    .section-projects .header-projects .button {
        width: 180px;
        height: 50px;
        border: 1px solid #E4B564;
        box-sizing: border-box;
        color: #E4B564;
        background-color: #0E0E0E;
        /* padding: 10px 40px; */
        margin-top: 160px;
        margin-bottom: 60px;
        font-family: 'Circe';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
    }
    .section-projects .content-project {
        display: grid;
        grid-template-columns: repeat(3, 486px);
        grid-template-rows: repeat(2, 390px);
        margin-left: 230px;
        margin-right: 230px;
    }
    .section-projects .content-project .image-item {
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 60px 80px;
        font-family: 'Gilam';
        font-weight: 400;
        font-size: 22px;
        line-height: 1.27;
        text-align: center;
    }
    .section-projects .content-project .image-item span {
        font-family: 'Gilam';
        font-weight: 600;
        font-size: 22px;
        line-height: 1.27;
        text-align: center;
    }
    .section-projects .content-project .image-item1 {
        background-color: #634F2C;
    }
    .section-projects .content-project .image-item2 {
        background-color: rgba(232, 210, 171, 0.76);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-projects .content-project .image-item3 {
        background-color: #E4B564;
    }
    .section-projects .content-project .image-item4 {
        background-color: #635A4A;
    }
    .section-projects .content-project .image-item5 {
        background-color: #B08C4D;
    }
    .section-projects .content-project .image-item6 {
        background-color: #634F2C;
    }                                     